<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>AT&T Technical Assessment</title>
    <style media="screen">

      #tablejavascript  {
        width: auto;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }

      #tablejavascript td {
        text-align: right;
      }



      #homepagetable {
        border-collapse: collapse;
        width: 100%;
      }

      #homepagetable th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      #homepagetable tr:hover {
        background-color: #3297ac;
      }

       #tablecontent {
	      display: none;
      }

      #tablestyle2 {
        border-collapse: collapse;
        width: 100%;
      }

      #tablestyle2 th, td {
        text-align: left;
        padding: 8px;
      }

      #tablestyle2 tr:nth-child(even){
        background-color: #f2f2f2;
      }

      #tablestyle2 th {
        background-color: #FF0000;
        color: white;
      }

       .active {
	      font-weight: 600;
      }</style>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#tableview").on("click", "#clicktable", function() {
       $(this).toggleClass("active").next().slideToggle();
      });
    });
    var table_data = [ { first_name : 'Rose',
                     last_name  : 'Tyler',
                     home       : 'Earth' },
                   { first_name : 'Zoe',
                     last_name  : 'Heriot',
                     home       : 'Space Station W3'},
                   { first_name : 'Jo',
                     last_name  : 'Grant',
                     home       : 'Earth'},
                   { first_name : 'Leela',
                     last_name  : null,
                     home       : 'Unspecified'},
                   { first_name : 'Romana',
                     last_name  : null,
                     home       : 'Gallifrey'},
                   { first_name : 'Clara',
                     last_name  : 'Oswald',
                     home       : 'Earth'},
                   { first_name : 'Adric',
                     last_name  : null,
                     home       : 'Alzarius'},
                   { first_name : 'Susan',
                     last_name  : 'Foreman',
                     home       : 'Gallifrey'} ];
    </script>
  </head>
  <body>
    <h1 style="text-align: center">Developer: Jonathan Benstent</h1>
    <h3>Question 1</h3>
    <hr>

    <h4>Table Displayed With JavaScript:</h4>

    <div id=tablejavascript>
      <table>
        <tr>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Home </th>
        </tr>
      <script>
      for (var i in table_data) {
        document.write(
            "<tr>" +
              "<td>" + table_data[i].first_name +"</td>" +
              "<td>" + table_data[i].last_name +"</td>" +
              "<td>" + table_data[i].home +"</td>" +
            "</tr>"
      )}
      </script>
    </table>
    </div>


    <table id="homepagetable">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Home</th>
      </tr>
      {% for i in table_data %}
      <tr>
        {% if i.first_name == null %}
        <td>null</td>
        {% else %}
        <td>{{i.first_name}}</td>
        {% endif %}

        {% if i.last_name == null %}
        <tr>null</tr>
        {% else %}
        <td>{{i.last_name}}</td>
        {% endif %}

        {% if i.home == null or i.home == "Unspecified" %}
        <td>null</td>
        {% else %}
        <td>{{i.home}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <br>


    <div id="tableview">
    	<div id="clicktable" style="text-align: center">Toggle here for a new table view!</div>
    	<div id="tablecontent">

        <table id="tablestyle2">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Home</th>
          </tr>
          {% for i in table_data %}
          <tr>
            {% if i.first_name == null %}
            <td>null</td>
            {% else %}
            <td>{{i.first_name}}</td>
            {% endif %}

            {% if i.last_name == null %}
            <tr>null</tr>
            {% else %}
            <td>{{i.last_name}}</td>
            {% endif %}

            {% if i.home == null or i.home == "Unspecified" %}
            <td>null</td>
            {% else %}
            <td>{{i.home}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <h3>Question 2</h3>
    <h4>Script to create a table and retrieve information from SQLite using Perl</h4>
    <hr>

    <dl>
      <dt>perl  -MCPAN –e shell</dt>
      <br>
      <dt>install DBI;</dt>
        <dd>installs database plug-in</dd>
        <br>
      <dt>install DBD::SQLite </dt>
        <dd>installs database driver</dd>
        <br>
      <dt>perl –d –e 1 </dt>
        <dd>starts perl in interactive mode</dd>
        <br>
      <dt>use DBI; </dt>
        <dd>Tells interactive program to pull in Database interface library</dd>
        <br>
      <dt>$dbh = DBI->connect("dbi:SQLite:perlsqlite.db") || die "Cannot connect"</dt>
        <dd>creates database handle</dd>
        <br>
      <dt>$dbh->do("create table assessment (id integer, first_name text, last_name text, hometown text)");</dt>
        <dd>Creates table called assessment with column header rows First Name, Last Name and hometown</dd>
        <br>
      <dt>$dbh->do("insert into assessment values(1, 'Jonathan', 'Benstent', 'Chicago')");</dt>
        <dd>Inserts values into the table assessment</dd>
        <br>
      <dt>$res = $dbh->selectall_arrayref(q(select * from assessment));</dt>
        <dd>Outputs array to parse through information</dd>
        <br>
      <dt>foreach (@$res) { \</dt>
        <dd>Identifies each array in the array of arrays</dd>
        <br>
      <dt>foreach $i (0..$#$_) { \</dt>
        <dd>Identifies elements in each row</dd>
        <br>
      <dt>print "$_->[$i] "; \</dt>
        <dd>Print each element in the row</dd>
        <br>
      <dt>}  \</dt>
      <dt>print "\n"; \</dt>
      <dt>}</dt>
    </dl>
  </body>
</html>
